// Custom styles

// This makes the footer stick to the bottom of the viewport
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex-grow: 1;
  overflow: hidden;
}

// navbar
.navbar {
  background-color: white;
  height: 50px;
  opacity: 0.9;
  Link {
    width: 100%;
  }
  .navbar-brand {
    a {
      text-decoration: none;
    }
    .logo {
      max-height: 40px;
    }
    strong {
      vertical-align: middle;
    }
  }
  ul {
    margin-top: 2px;
  }
  .dropdown-menu a {
    padding: 0;
  }
  .menu-link {
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .navbar.container {
    max-width: 738px;
  }
}
@media (min-width: 992px) {
  .navbar.container {
    max-width: 100%;
  }
}

.social-links {
   list-style: none;
   display: flex;
   justify-content: space-between;
   .social-link {
   }
 }

.footer-links {
  width: 240px;
  margin: 0 auto;
}

// Jumbotron
.jumbotron {
  margin-top: 4rem;
  text-align: center;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  box-shadow: $z-depth-1;
  border-radius: $border-radius-base;
  background-color: $white-base;
  h1 {
    height: 5rem;
    margin-top: 6rem;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -0.05em;
  }
  h2 {
    margin: 0;
    letter-spacing: -0.05em;
    color: #555;
  }
  .bg-img {
    background-image: url("../../images/Cans-Banner2.png");
    background-size: cover;
    min-height: 24rem;
  }
  .blake-title {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  .blake {
    animation: blake 1s;
  }
  .logo {
    margin-right: -10px;
    animation: logoreveal 50s infinite;
  }
  .tag1 {
    animation: tagreveal1 5s;
  }
  .tag2 {
    padding: 0 8px;
    animation: tagreveal2 5s;
  }
  .tag3 {
    animation: tagreveal3 5s;
  }
  .featured-link {
    position: absolute;
    right: 20px;
    bottom: 20px;
    animation: featuredreveal3 5s;
  }
}

@keyframes blake {
    0% { opacity: 0; }
    20% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes logoreveal {
  0% { opacity: 0; }
  4% { opacity: 1; }
}

@keyframes tagreveal1 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  32% { opacity: 1; }
}

@keyframes tagreveal2 {
  0% { opacity: 0; }
  32% { opacity: 0; }
  39% { opacity: 1; }
}

@keyframes tagreveal3 {
  0% { opacity: 0; }
  39% { opacity: 0; }
  46% { opacity: 1; }
}

@keyframes featuredreveal3 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  65% { opacity: 1; }
}

.front-content {
  padding: 0px;
  .intro-content {
    margin: -1rem 0 1rem 0;
    padding: 1.5rem 1.5rem .75rem 1.5rem;
    box-shadow: $z-depth-1;
    border-radius: $border-radius-base;
    background-color: #dfdfdf;
    h2 {
      margin: 1rem 0;
    }
    h3 {
      margin-top: 20px;
    }
    p {
      line-height: 1.3;
      margin: 10px 0;
    }
    .image-container {
      padding: 0 0 1rem 2rem;
      width: 25%;
      min-width: 25%;
      float: right;
    }
  }
}

.page-container {
  margin-top: 4rem;
  .nfs {
    margin-top: -1rem;
  }
  .lead {
    text-align: center;
  }
}

.gallery, .sports {
  padding-bottom: .5rem;
  .card {
    .btn-action {
      right: 0;
      margin-top: -1.5rem; // adjusts vertical position
    }
    .card-body {
      padding: .8rem .8rem 0 .8rem;
    }
  }
}

.merch {
  padding-bottom: .5rem;
  .card {
    .btn-action {
      right: 0;
      margin-top: -3rem; // adjusts vertical position
    }
    .card-body {
      padding: 0 .8rem 0 1.8rem;
    }
  }
}

.painting-detail {
  .card {
    //margin-bottom: 64px;
    .btn-action {
      left: -10px;
      bottom: -4rem;
    }
  }
}

// #TeamBlake
.members, .sports {
  display: flex;
  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
    width: 16rem;
    hr {
      border: none;
      border-top: 4px solid grey;
      margin-right: 2rem;
    }
    .std-btn {
      background: transparent;
      border-color: transparent;
      text-transform: capitalize;
      font-size: 1.25rem;
      letter-spacing: var(--spacing);
      margin: 0;
      transition: var(--transition);
      cursor: pointer;
      padding: 1rem 2rem 1rem 0;
      line-height: 1;
      color: grey;
      text-align: right;
    }
    .active-btn {
      color: black;
      box-shadow: -2px 0 var(--clr-primary-5);
    }
    .std-btn:hover {
      color: dark-grey;
      box-shadow: -2px 0 var(--clr-primary-5);
    }
  }
  .content-container {
    display: block;
    padding-right: 1rem;
    width: 100%;
    height: 100%;
    h2 {
      margin-top: -.4rem;
      a {
        padding: 0;
        margin: 0 0 -8px 1rem;
      }
    }
    p {
      margin: .8rem 0;
    }
    .img-container {
      padding: 0 2rem 1rem 0;
      width: 40%;
      min-width: 40%;
      float: left;
      p {
        margin: 2px 0;
        font-size: .8rem;
        color: grey;
      }
    }
  }
}

.sports {
  .btn-container {
    width: 12rem;
  }
}
